# Rider and IDE files
.idea/
*.sln.DotSettings*
*.user

# Build artifacts
bin/
obj/
publish/

# macOS system files
.DS_Store

# Logs
*.log

# VSCode settings (optional)
.vscode/

appsettings.json
.env
